.body
  .wrapper.devise--wrapper
    %h2 エントリー
    .entries
      - unless @entries.blank?
        = render @entries
      - unless @gig.user == current_user
        .form
          = form_for [@gig, @entry] do |f|
            = f.hidden_field :content, class: 'form__message', value: 'エントリー完了（投稿者のページへ）'
            = f.submit 'エントリーする', class: 'btn btn-primary'


  