.body {
  .devise-wrapper {
    padding-left: 200px;
    padding-top: 50px;
    height: 100vh;
    position: absolute;
    h2 {
      padding-bottom: 20px;
    }
    .field {
      margin-bottom: 20px;
      
    }
    .actions {
      margin-bottom: 20px;
    }
    .new_message {
      margin-top: 15px;
      margin-bottom: 80px;
    }
    .entry__message {
      margin-right: 100px;
      display: grid;
      
    }
    .entry__message__content {
      word-break: break-word;
      margin-bottom: 10px;
      display: block;
      &__user {
        float: left;
        font-size: 10px;
    }
    }
  }
}